[submodule "submodules/web-mode"]
	path = submodules/web-mode
	url = https://github.com/fxbois/web-mode.git
[submodule "submodules/org-ref"]
	path = submodules/org-ref
	url = https://github.com/wagnermarques/org-ref.git
[submodule "submodules/rtags"]
	path = submodules/rtags
	url = https://github.com/Andersbakken/rtags.git
[submodule "submodules/ess"]
	path = submodules/ess
	url = https://github.com/emacs-ess/ESS.git
